.login-page{
    background-image: url("../../assets/imges/party-background.jpg");
    max-width: 100% !important;
    background-repeat: no-repeat;
    background-size: cover; 
    padding-top: 60px;
    height: 120vh;
    .form-style input {
        border: 0;
        height: 50px;
        border-radius: 0;
        border-bottom: 1px solid #ebebeb;
    }
    .error{
        color: red;
        margin-top: 10px;
    }
    
    .form-style input:focus {
        border-bottom: 1px solid #007bff;
        box-shadow: none;
        outline: 0;
        background-color: #ebebeb;
    }
    
    .sideline {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: #ccc;
    }
    
    button {
        height: 50px;
    }
    
    .sideline:before,
    .sideline:after {
        content: '';
        border-top: 1px solid #ebebeb;
        margin: 0 20px 0 0;
        flex: 1 0 20px;
    }
    
    .sideline:after {
        margin: 0 0 0 20px;
    }
    .img-fluid{
        border-radius: 10px;
    }
    .form-field{
        border-radius: 10px;
    }
}

 // Responsive for smaller mobile screens (max-width: 576px)
 @media (max-width: 576px) {
    .login-page{
        height: 125vh;
        .form-field{
            .login-header{
            font-size: 20px;
            font-weight: 500;
            }
            .form-style{
                .forget-password{
                    font-size: 12px;
                    text-decoration: none;
                }
                button{
                    height: 35px;
                    font-size: 12px;
                    font-weight: 500;
                }
                .facbook{
                    font-size: 8px;
                    font-weight: 500;
                }
            }
        }
    }
 }

